.card {
  background: none;
  border: 1px dashed #f7906c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
}
.card:hover {
  /* background: red; */
}
